*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --main-blue: #0088CC;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  line-height:1.5em;
  color: #9099a0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: var(--main-blue);
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #3d3e42;
}

.page-wrapper {
  display: flex;
  width: 900px;
  justify-content: center;
  background: white;
  border-bottom: 1px solid;
  flex-direction: column;
}

section {
  align-self: center;
  width: 630px;
  /*height: 100vh;*/
  margin-top: 25px;
}

header {
  gap: 50px;
  /*padding: 50px 25px;*/
  background: white;
}

#photo {
  margin-right: 25px;
}

#personal {
  width: 630px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  padding: 25px 0;
}

#personal h2 {
  color: black;
}

#name {
  margin-bottom: 32px;
}

#contacts {
  display: flex;
  flex-direction: row;
  font-size: 3em;
  justify-content: space-between;
  margin-top: 24px;
}

.section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 20px;
}

.section-title {
  margin-bottom: 15px;
  color: var(--main-blue);
  /*font-family: "Roboto Condensed", sans-serif;*/
}

.main-text {
  margin-bottom: 15px;
  color: black;
  font-weight: bold;
}

.secondary-text {
  font-weight: 300;
}

.skill-bar {
  width: 400px;
  height: 6px;
  /*background: gray;*/
  margin-bottom: 15px;
}

.faculty {
  width: 450px;
}

.institution {
  width: 300px;
}

.skill-progress {
  display: inline-block;
  width: 7.5%;
  height: 6px;
  background: var(--main-blue);
  margin-right: 5px;
  margin-top: -15px;
}

.skill-not-progress {
  display: inline-block;
  width: 7.5%;
  height: 6px;
  background: gray;
  margin-right: 5px;
  margin-top: -15px;
}