<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Arvo&display=swap">
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="company-info">
          <div class="logo vertically-center">
            Moose
          </div>
          <div class="info vertically-center">
            <div class="phone">
              <img src="icons/phone.svg" alt="phone">
              0535 954 74 54
            </div>
            <div class="email">
              <img src="icons/email.svg" alt="email">
              email@moose.com
            </div>
          </div>
        </div>
        <div class="menu">
          <div class="links-wrapper">
            <div class="links">
              <ul class="nav-items vertically-center">
                <li>
                  <a class="link" href="" target="_blank">Home</a>
                </li>
                <li>
                  <a class="link" href="" target="_blank">Portfolio</a>
                </li>
                <li>
                  <a class="link" href="" target="_blank">About</a>
                </li>
                <li>
                  <a class="link" href="" target="_blank">Service</a>
                </li>
                <li>
                  <a class="link" href="" target="_blank">Journal</a>
                </li>
                <li>
                  <a class="link" href="" target="_blank">Features</a>
                </li>
                <li>
                  <a class="link" href="" target="_blank">Contact</a>
                </li>
              </ul>
            </div>
            <div class="socials">
              <ul class="socials-items vertically-center">
                <li>
                  <a class="social-link" href="" target="_blank">
                    <img src="icons/rss.png" alt="RSS">
                  </a>
                </li>
                <li>
                  <a class="social-link" href="" target="_blank">
                    <img src="icons/facebook.png" alt="Facebook">
                  </a>
                </li>
                <li>
                  <a class="social-link" href="" target="_blank">
                    <img src="icons/twitter.png" alt="Twitter">
                  </a>
                </li>
                <li>
                  <a class="social-link" href="" target="_blank">
                    <img src="icons/dribble.png" alt="Dribble">
                  </a>
                </li>
                <li>
                  <a class="social-link" href="" target="_blank">
                    <img src="icons/pinterest.png" alt="Pinterest">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section id="Slider">
        <h1>Moose brings awesomeness</h1>
        <p>A responsive template with clean and professional design</p>
        <a class="btn" href="" target="_blank">See project</a>
      </section>
      <section id="Services">
        <div class="services-content">
          <h2><span>Creativity</span> is important for us</h2>
          <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula eget lacinia odio nec elit.</p>
          <ul class="service-items">
            <li class="service selected">
              <div class="service-icon selected">
                <img src="icons/notebook.svg" alt="notebook">
              </div>
              Interface design
            </li>
            <li class="service">
              <div class="service-icon">
                <img src="icons/film.svg" alt="film">
              </div>
              Motion graphic
            </li>
            <li class="service">
              <div class="service-icon">
                <img src="icons/camera.svg" alt="camera">
              </div>
              Photography
            </li>
            <li class="service">
              <div class="service-icon">
                <img src="icons/brush.svg" alt="brush">
              </div>
              Illustration
            </li>
          </ul>
        </div>
      </section>
      <section id="Portfolio">
        <div class="portfolio-content">
          <h1><span>Latest projects</span>making stuff is awesome</h1>
          <ul class="categories">
            <li class="category selected">
              <div class="circle selected"></div>
              All
            </li>
            <li class="category">
              <div class="circle"></div>
              Web design
            </li>
            <li class="category">
              <div class="circle"></div>
              Graphics
            </li>
            <li class="category">
              <div class="circle"></div>
              Video
            </li>
            <li class="category">
              <div class="circle"></div>
              Illustration
            </li>
            <li class="category">
              <div class="circle"></div>
              Audio
            </li>
          </ul>
          <div class="projects-photo">
            <div class="project-tile">
              <img src="images/thumbnail_1.png" alt="things">
            </div>
            <div class="project-tile">
              <img src="images/thumbnail_2.png" alt="phone">
            </div>
            <div class="project-tile">
              <img src="images/thumbnail_3.png" alt="letter">
            </div>
            <div class="project-tile">
              <img src="images/thumbnail_4.png" alt="seal fabric logo">
            </div>
            <div class="project-tile">
              <img src="images/thumbnail_5.png" alt="two books">
            </div>
            <div class="project-tile">
              <img src="images/Layer 11.png" alt="things">
            </div>
            <div class="project-tile">
              <img src="images/Layer 12.png" alt="things">
            </div>
            <div class="project-tile">
              <img src="images/Layer%2013.png" alt="things">
            </div>
            <div class="project-tile">
              <img src="images/Layer%2015.png" alt="things">
            </div>
            <div class="project-tile">
              <img src="images/Layer%2016.png" alt="things">
            </div>
            <div class="project-tile">
              <img src="images/Layer%2017.png" alt="things">
            </div>
            <div class="project-tile">
              <img src="images/Layer%2018.png" alt="things">
            </div>
          </div>
        </div>
      </section>
      <section id="Latest_Blog">
        <div class="latest-blog-content">
          <h2>Our latest blog</h2>
          <p class="latest-blog-description">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus facilisis egestas eget quam.</p>
          <div class="posts">
            <div class="post">
              <img src="images/post1.png" alt="cover post 1">
              <p class="post-title">Tortor ullamcorper fringilla euismod</p>
              <div class="post-content">
                <p class="post-date">21 May 2013</p>
                <p class="post-text">Macro, photography</p>
              </div>
            </div>
            <div class="post">
              <img src="images/post2.png" alt="cover post 2">
              <p class="post-title">Tortor ullamcorper fringilla euismod</p>
              <div class="post-content">
                <p class="post-date">21 May 2013</p>
                <p class="post-text">Macro, photography</p>
              </div>
            </div>
            <div class="post">
              <img src="images/post3.png" alt="cover post 1">
              <p class="post-title">Tortor ullamcorper fringilla euismod</p>
              <div class="post-content">
                <p class="post-date">21 May 2013</p>
                <p class="post-text">Macro, photography</p>
              </div>
            </div>
            <div class="post">
              <img src="images/post4.png" alt="cover post 1">
              <p class="post-title">Tortor ullamcorper fringilla euismod</p>
              <div class="post-content">
                <p class="post-date">21 May 2013</p>
                <p class="post-text">Macro, photography</p>
              </div>
            </div>
          </div>
          <div class="navs">
            <div class="ellipse"></div>
            <div class="ellipse"></div>
            <div class="ellipse selected"></div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="additional-info">
        <div class="links">
          <p>Get in touch</p>
          <p>Fusce dapibus, tellus commodo, tortor mauris condimentum utellus fermentum, porta sem malesuada magna. </p>
          <p>Moonshine Street No: 14/05
            Light City, Jupiter
            0247 541 65 87
            support@longwave.com</p>
        </div>
        <div class="links">
          <p>Twitter</p>
          <p>Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
          <p>Donec ullamcorper metus auctor fringilla. Nullam quis risus eget.</p>
          <p>Vestibulum id ligula porta  euismod semper. Maecenas faucibus mollis.</p>
        </div>
        <div class="links">
          <p>Popular posts</p>
          <p>Vivamus sagittis lacus vel augue laoreet rutrum dolor auctor.</p>
          <p>Scelerisque nisl consectetur et.</p>
          <p>Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce </p>
        </div>
        <div class="links">
          <p>About us</p>
          <p>Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus curabitur blandit tempus.</p>
        </div>
      </div>
      <div class="copy-right">
        <div class="copy-right-content">
          © 2013 Marble. All rights reserved. Theme by elemis.
        </div>
      </div>
    </footer>
  </body>
</html>